HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/terraform/retrieve-ecr-image/.terraform.lock.hcl
/terraform/terraform-ecs/.terraform/
/terraform/retrieve-ecr-image/.terraform/
/terraform/terraform-test/.terraform/
/terraform/retrieve-ecr-image/terraform.tfstate
/terraform/retrieve-ecr-image/terraform.tfstate.backup
/terraform/terraform-ecs/.terraform.lock.hcl
/terraform/terraform-ecs/terraform.tfstate
/terraform/terraform-ecs/terraform.tfstate.backup
/terraform/terraform-test/.terraform.lock.hcl
/terraform/terraform-test/my_plan.tfplan
/terraform/terraform-test/terraform.tfstate
/terraform/terraform-test/terraform.tfstate.backup
